html{
	scroll-behavior: smooth;
}
*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
.container{
	max-width: 1000px;
	margin: auto;
	/* font-family: 'Fira Sans', sans-serif;
font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
font-family: font-family: 'Satisfy', cursive; */
}
.row{
	width: 100%;
}

/* header end */
.row{
	width: 100%;
}
.row::after{
	content: '';
	display: table;
	clear: both;
}



[class*="col-"]{
	float: left;
	padding: 15px;
}

[class*="col-"]{
	width: 100%;
}
/* header starts now */
.header{
	background-color: lightseagreen;
	padding: 0% 1%;
	text-align: center;
}

.logo img{
	border: 3px solid orange;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	color: blue;
	text-align: center;

}
nav ul li{
	display: block;
}
nav ul li a{
color: aqua;
display: block;
text-decoration: none;
line-height: 40px;
text-transform: uppercase;
padding: 0px 20px;
font-size: 1rem;
font-family: 'Satisfy', cursive,;
transition: .4s;
}

nav ul li a:hover{
	 border-radius: 10px;
	background-color: hotpink;
	}
	/* header end */
 /* manu starts */
 #banner-section{
	background-image: url(image/bg\ photo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
 }
 .banner-contants{
	padding: 100px 10px;
	text-align: center;
 }
 .banner-contants h1{
	background-color: yellow;
	color: orange;
	font-size: 2rem;
	font-family: 'satisfy';
	padding: 1% 5px;
	width: 250px;
	text-wrap: wrap;
	margin: 15px auto;
	border-radius: 10px;
 }
 .banner-contants p{
	width: 400px;
	background-color: green;
	margin: 15px auto;
	color: white;
	font-size: 1.5rem;
	padding: 10px;
	font-weight: bold;
	border-radius: 10px;
	font-family: 'Fira Sans', sans-serif;
 }
 .btn{
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid white;
	font-size: 1.5rem;
	color: green;
	font-weight: bold;
	transition: .4s;
 }
 .btn:hover{
    transform: scale(1.3);
	background-color: blue;
 }
/* manu ends */
/* banner starts */
.about-us{
	padding: 2%;
}
.about-us-contents{
	text-align: center;
}
.about-us-contents h3{
	color: burlywood;
	font-size: 2rem;
	margin-bottom: 5px;
	font-family: cursive;
}
.about-us-contents p{
	margin-bottom: 5px;
	font-family: cursive;
	font-weight: bold;
	color: aqua;
}

/* banner ends */

/* card starts */
#manu-section{
	padding: 2%;
}
.card-body{
	text-align: center;
}
.card-body img{
	max-width: 100%;
	height: auto;
	display: block;
}
.item-desc{
	background-color: black;
	color: azure;
	
}
.snwds{
	background-color: blueviolet;
	color: orange;
	padding: 5px;
	font-size: 2rem;
}
.pizza{
	background-color: blueviolet;
	color: orange;
	padding: 5px;
	font-size: 2rem;
}
.junk-food{
	background-color: blueviolet;
	color: orange;
	padding: 5px;
	font-size: 2rem;
}
.berger{
	background-color: blueviolet;
	color: orange;
	padding: 5px;
	font-size: 2rem;
}

.item-desc > p{
	color: black;
	background-color: beige;
	padding: 5px;
	font-weight: bold;
}
.card{
	transition: .4s;
}
.card:hover{
	transform: scale(1.2);
}

/* card end */
/* contact starts */
iframe{
	width: 100%;
}
.contact{
	padding: 2%;
	background-color: purple;
}
.contact-details{
	color: tomato;
	text-align: center;
	padding: 10px 0px;
	font-size: 1.5rem;
}
.contact-details p{
	font-size: 1rem;
	font-family: 'satisfy';
}
/* contact end */
/* footer start */

footer{
	padding: 2%;
	background-color: blue;
	color: aliceblue;
	
}
footer p{
	line-height: 35px;
	text-align: center;
	font-size: 1rem;
}
.social-manu{
	text-align: center;
}
.icon-style{
	height: 30px;
	width: 30px;
	line-height: 30px;
	color: orange;
    border: 1px solid black;
	border-radius: 50%;
	margin: 0px 5px;
	transition: .4s;
	

}
.icon-style:hover{
	background-color: green;
	transform: scale(1.3);
}

/* footer end */
/* small */
@media (min-width: 576px){
	.col-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}
}
/* medium */
@media (min-width: 768px){
	.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}

/* large */
@media (min-width: 992px){
    .logo-div{
		text-align: left;
	}
	nav ul{
		text-align: right;
	} 

	nav ul li{
		display: inline-block;
	}  
	nav ul li a{
		display: inline-block;
	} 
	nav ul li a:hover{
		background-color: transparent;
	}
	/* banner start   */
     #banner-section{
		position: relative;
		height: 100%;
	 }
	 /* .banner-contants{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50% -50%);
	 } */

.banner-contants h1{
	width: 700px;
	font-size: 3.5rem;
}
.banner-contants h1{
	width: 500px;
	font-size: 2rem;
}
	/* baner end */
	/* footer start */
  footer p{
	text-align: left;
  }
  .social-manu{
	/* text-align: left; */
  }
	  
	/* footer end */

	.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}